body{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.header-bg {
    background-image: -moz-linear-gradient( 90deg, rgb(183,22,49) 0%, rgb(235,10,77) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(183,22,49) 0%, rgb(235,10,77) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(183,22,49) 0%, rgb(235,10,77) 100%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    line-height: 57px;
    margin: 0;

}
.logo {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.logo img{
    width: 100%;
    height: 100%;
}
.g-plus {
    width: 20%;
    height: 100%;
}
.g-plus img{
    width: 90%;
    height: 90%;
}
.youtube {
     width: 20%;
     height: 100%;
 }
.youtube img{
    width: 90%;
    height: 90%;
}
.pinin {
     width: 20%;
     height: 100%;
 }
.pinin img{
    width: 90%;
    height: 90%;
}
.twitter {
     width: 20%;
     height: 100%;
 }
.twitter img{
    width: 90%;
    height: 90%;
}
.facebook {
    width: 20%;
    height: 100%;
}
.facebook img{
    width:90%;
    height: 90%;
}


.social-right{
    height: 100%;
    width: 100%;
    float: right;
    display: inline-block;
}
.social-right ul li{
    float: left;
    list-style-type: none;
}
header {
    text-align: center;
    color: #fff;
    margin: 0;
}
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../image/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }


.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../image/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
#about{
    background-color: #f4f3f3;
    padding: 40px 10px;
}
#about>h2{
    font-size: 40px;
    font-family: "OpenSans";
    color: rgb(51, 51, 51);

}

#about>p{
    font-size: 16px;
    font-family: "OpenSans";
    color: rgb(102, 102, 102);
    line-height: 1.5;
}
.mobile-download{
    height: 180px;
    background-color: rgb(219, 12, 68);

}
.mobile-download h3,.mobile-download p{
    color: #ffffff;
}
.screen-info{
    height: 100px;
}
.screen-desc{
    margin-top: 10px!important;
    margin-bottom: 20px!important;
}
.screen-icon1{
    background-image: url("../image/screen-icon1.png");
    width: 47px;
    height: 47px;
}
.screen-icon2{
    background-image: url("../image/screen-icon2.png");
    width: 47px;
    height: 47px;
}
.screen-icon3{
    background-image: url("../image/screen-icon3.png");
    width: 47px;
    height: 47px;
}
.screen-icon4{
    background-image: url("../image/screen-icon4.png");
    width: 47px;
    height: 47px;
}
.screen1{
    background-image: url("../image/screen1.png");
    width: 259px;
    height: 480px;
}
.screen2{
    background-image: url("../image/screen2.png");
    width: 259px;
    height: 480px;
}
.screen3{
    background-image: url("../image/screen3.png");
    width: 259px;
    height: 480px;
}
.screen4{
    background-image: url("../image/screen4.png");
    width: 259px;
    height: 480px;
}
.screen p{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(102, 102, 102);
    line-height: 1.286;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .screen p{
        font-size: 17.324px;
        font-family: "OpenSans";
        color: rgb(102, 102, 102);
        line-height: 1.2;
    }
}
@media screen and (max-width: 768px){
 .xs-hand{
    right: 34% !important;
 }
}
.screen h3{
    font-size: 24px;
    font-family: "OpenSans";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
}
.testimonials{
    background-color: rgb(17, 41, 71);
    height: 236px;
    margin-top: 100px;
    background-image: url('../image/quatitons.png');
    background-repeat: no-repeat;
    background-position: center top
;
}
.testimonials p{
    font-size: 16px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.125;
}
.testimonials-info{
    margin-top: 55px;
}

.costomer-img{
    background-image: url("../image/costomer.png");
    width: 56px;
    height: 56px;
    margin-top: 10px;
}

.testimonials-link p{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.286;
    font-style: normal;
}
.footer-above{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #011732;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
}
.footer-above a{
    color: #ffffff;
}
.footer-below{
    background-color:#010d1d ;
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
    line-height: 1.429;
}
.map-img{
    background-image: url("../image/map.png");
}
.dsb-map{
    background-color: #ffffff;
}
.download-img{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(183, 22, 49);
    background-image: -moz-linear-gradient( 90deg, rgb(183,22,49) 0%, rgb(235,10,77) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(183,22,49) 0%, rgb(235,10,77) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(183,22,49) 0%, rgb(235,10,77) 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45);
    width: 281px;
    height: 71px;
    color: #ffffff;
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 50px;
}

.download-img i{
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 40px;

}
.download-img span{
    position: absolute;
    top: 22px;
    right: 40px;
}
.map-img p,.map-img ul li{
    font-size: 16px;
    font-family: "Arial";
    color: rgb(102, 102, 102);
    line-height: 1.5;
}
.blog-icon{
    background-image: url("../image/icon-blog.png");
    width: 16px;
    height: 20px;
    display: inline-block;
    float: left;
    margin-right: 8px;
}
.blog-date{
    padding-left: 23px;
    font-family: "OpenSans";
    font-style: italic;

}
.blog-info{
    font-size: 16px;
    color: rgb(225, 10, 70);
    font-weight: bold;
    line-height: 1.5;
}
.omkring-info{

 }
.omkring-info p{
    margin: 0;
    padding: 0;
}
.footer-above .footer-col:first-child p{
    font-size: 16px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
}
.footer-kategory{

}
.footer-kategory ul li{
    list-style-type: none;
    border-top:1px solid #454444 ;
    padding: 10px 0;
}
.footer-kategory ul li span{
    padding-right: 5px;
}
.footer-kategory ul li:last-child{
    border-bottom:1px solid #454444 ;

}
.footer-kategory ul {
    padding: 0;
}
.footer-kategory ul li:first-child,.footer-kategory ul li:last-child{
    font-size: 16px;
    font-family: "OpenSans";
    color: #ffffff;
}
.footer-kategory ul li:nth-child(2){
    font-size: 20px;
    padding: 5px 0;
}
.btn-footer-download{
    width: 171px;
    height: 65px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(29, 51, 80);
    border-radius: 4px;
    background-color: rgb(21, 38, 60);
    padding: 15px 0 15px 15px;
    color: #2f3e51;
}
.btn-footer-download div:first-child{
    float: left;
    margin-right: 5px;
}
.btn-footer-download div:nth-child(2){
    font-size: 16px;
}
.btn-footer-download div:last-child{
    font-weight: 800;
    font-size: 16px;
}
.search-form{
    width: 90%;
    border: 2px solid #1D3350;
    border-radius: 10px;
    background-color: #15263c;

}
.search-form input[type=text]{
    border: none;
    height: 100%;
    margin: 0;
    background-color: #15263c;

}
.search-form input[type=text]:focus{
    outline: none;
}
.search-icon{
    background-image: url("../image/search-icon.png");
    background-color: transparent;
    width: 19px;
    height: 19px;
    border: none;
    float: right;
    margin-right: 15px;

}
.search-icon:focus{
    outline: none;
}
.search-form form{
    margin: 5px;
}
